body {
  background-color: #121829;
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ebeef5;
}
.body {
  padding-bottom: 50px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.search-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 80px 0;
}
.search-area-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 588px;
}
.search-area-input {
  display: flex;
  gap: 8px;
}
