body {
  background-color: #121829;
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ebeef5;
}
