* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	width: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
}

.loader {
	border: 10px solid #7b6ef6;
	border-top: 10px solid #2c246d;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
	margin: 0 auto;
	margin: 40px auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
